<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <h1>signup page</h1>
    
    <h1><a href="{{ url_for('products.customer_login') }}">Go to customer Login</a></h1>

    <form action="api/auth/customer/signup" method="POST">
        
        <input type="text" name="username" placeholder="enter user name"><br>
        <input type="email" name="email" placeholder="enter email"><br>
        <input type="password" name="passwordhash" placeholder="enter password"><br>

        <input type="submit" placeholder="signup">
    </form>
</body>
</html>